engine-strict=true
save-exact=true
strict-peer-deps=true
strict-allow-scripts=true
min-release-age=7
min-release-age-exclude[]=e2e
min-release-age-exclude[]=@e2e-dev/*
allow-git=root
allow-remote=root
